PORT=5000
# Optional for local or cloud deployment.
# Set this to the directory that contains files like GHI.tif, DNI.tif, DIF.tif.
# Example:
# GEOTIFF_BASE_DIR=E:/SolarSenseAI-main/India_GISdata_LTAym_AvgDailyTotals_GlobalSolarAtlas-v2_GEOTIFF/India_GISdata_LTAy_AvgDailyTotals_GlobalSolarAtlas-v2_GEOTIFF
GEOTIFF_BASE_DIR=
